@import url("https://fonts.googleapis.com/css?family=Poppins");
html, body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  margin: 0px;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Poppins', sans-serif; }
  html #iOSTap, body #iOSTap {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: white;
    z-index: 100000; }
  html #Reenter, body #Reenter {
    position: absolute;
    right: 200px;
    top: 92%;
    padding: 10px 18px;
    background-color: #16a8f0;
    color: white;
    border: none;
    cursor: pointer; }
  html #Reenter:hover, body #Reenter:hover {
    border: none; }
